<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header compornents</title>
</head>

<body>
    <header class="header1">
        <h1 class="logo"><a href="./main.html"><img src="../imgs/logo/logo.png" alt="로고"></a></h1>
        <div class="wrap">
            <nav class="pc_nav">
                <ul class="main_menu_wrpa">
                    <li class="main_menu"><a href="./import.html">직수입자동차
                        </a>
                        <div class="underline_gray"></div>
                        <ul class="sub_menu">
                            <li><a href="#">G바겐</a></li>
                            <li><a href="#">포르쉐</a></li>
                            <li><a href="#">스즈키 짐니</a></li>
                            <li><a href="#">코펜세로</a></li>
                            <li><a href="#">올드카</a></li>
                            <li><a href="#">일본차</a></li>
                            <li><a href="#">머쓸카</a></li>
                        </ul>
                    </li>
                    <li class="main_menu"><a href="./custom.html">커스텀/튜닝</a>
                        <div class="underline_gray"></div>
                        <ul class="sub_menu">
                            <li><a href="#">DAMD커스텀</a></li>
                            <li><a href="#">KUMOI커스텀</a></li>
                            <li><a href="#">커스텀스토리</a></li>
                            <li><a href="#">자동차꾸미기</a></li>
                        </ul>
                    </li>
                    <li class="main_menu"><a href="./parts.html">용품/파츠</a>
                        <div class="underline_gray"></div>
                        <ul class="sub_menu">
                            <li><a href="#">용품 파츠(부품)</a></li>
                            <li><a href="#">악세서리</a></li>
                            <li><a href="#">시트</a></li>
                            <li><a href="#">전기</a></li>
                            <li><a href="#">썬팅</a></li>
                            <li><a href="#">네비/블랙박스</a></li>
                            <li><a href="#">오디오</a></li>
                        </ul>
                    </li>
                    <li class="main_menu"><a href="./clothing.html">브랜드의류</a>
                        <div class="underline_gray"></div>
                        <ul class="sub_menu">
                            <li><a href="#">스투시</a></li>
                            <li><a href="#">갤러리 댑</a></li>
                            <li><a href="#">와펜(기타 부자재)</a></li>
                            <li><a href="#">팀트러스</a></li>
                        </ul>
                    </li>
                    <li class="main_menu"><a href="./admin.html">관리자페이지</a>
                        <div class="underline_gray"></div>
                    </li>
                </ul>
            </nav>
            <div class="admin">
                <!-- From Uiverse.io by benjimich -->
                <div class="container">
                    <input type="text" name="text" class="input" placeholder="Dark Twitch Search">
                    <button class="search__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22">
                            <path
                                d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"
                                fill="#efeff1"></path>
                        </svg>
                    </button>
                </div>
                <a href="./login.html"><img src="../imgs/admin/login.png" alt="로그인"></a>
            </div>
        </div>
    </header>
</body>

</html>