@import './flex_mixins.scss';
@import './color.scss';

// ========================================
//이중창 생기는거 방지
body {
    overflow: hidden;
}

//어드민페이지 왼쪽 헤더 메뉴
.card_wrap {
    background-color: rgba(36, 40, 50, 1);
    width: 300px;
    height: 100vh;

    .card {
        width: 100%;
        background-color: rgba(36, 40, 50, 1);
        background-image: linear-gradient(139deg,
                rgba(36, 40, 50, 1) 0%,
                rgba(36, 40, 50, 1) 0%,
                rgba(37, 28, 40, 1) 100%);
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .separator {
            border-top: 1.5px solid #42434a;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 0px 10px;

            .element {
                display: flex;
                align-items: center;
                color: #7e8590;
                gap: 10px;
                // transition: all 0.5s ease-out;
                padding: 8px 16px;
                border-radius: 6px;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    // transition: all 0.3s ease-out;
                }

                .label {
                    font-size: 20px;
                }

                // ✅ hover 스타일
                &:hover {
                    background-color: #5353ff;
                    color: #ffffff;
                    transform: translate(1px, -1px);

                    svg {
                        stroke: #ffffff;
                    }
                }

                // ✅ active 클릭 효과 (짧게 눌렀을 때)
                &:active {
                    transform: scale(0.99);
                }

                // ✅ 실제 활성 탭 스타일
                &.active {
                    background-color: #5353ff;
                    color: #ffffff;
                    transform: translate(1px, -1px);

                    svg {
                        stroke: #ffffff;
                    }

                    font-weight: bold;
                    border-left: 4px solid #ffffff;
                }
            }

            // 특수 스타일 (money 클래스)
            // .money:hover {
            //     background-color: #8e2a2a;
            // }

            &:last-child {
                svg {
                    stroke: #bd89ff;
                }

                .element {
                    color: #bd89ff;

                    &:hover {
                        background-color: rgba(56, 45, 71, 0.836);
                    }
                }
            }
        }
    }
}

//스크린2 card_wrap1
.card_wrap1 {
    @include fsbc;
    gap: 100px;
    width: 100%;
    margin-top: 32px;
    //양옆 여백을 위해서
    width: calc(100% - 128px);
    max-width: 1540px;
    height: auto;
    animation: float 3s ease-in-out infinite;

    .card {
        position: relative;


        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
}

//box스타일
.sub_screen {
    .box {
        @include fss;
        gap: 16px;
        //양옆 여백을 위해서
        width: calc(100% - 128px);
        max-width: 1540px;
        height: auto;

        .blue_clor {
            color: #007bff;
        }

        .red_colr {
            color: rgb(250, 46, 46);
        }
    }

    .box1 {
        height: 50px;
    }

    .box2 {

        //공통 레이아웃 SCSS
        .grid-dashboard {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto;
            gap: 12px;
            text-align: center;
            padding: 24px;
            font-family: 'Pretendard', sans-serif;
            font-size: 14px;

            .header {
                font-weight: 600;
                background-color: #f1f1f1;
                padding: 12px 0;
            }

            .label {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 8px;
                font-weight: 500;
            }

            .cell {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 4px;
                padding: 12px;
                border-radius: 8px;
            }

            .shortcut {
                font-size: 12px;
                padding: 4px 8px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
            }
        }

        //여러 스타일 유형중 이게 맘에 들어서 이거씀
        .grid-dashboard {
            background-color: #fafafa;
            color: #444;
            // border-radius: 12px;
            width: 100%;

            .cell {
                background-color: #ffffff;
                // border-radius: 16px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
                padding: 14px;
                font-size: 15px;
            }

            .shortcut {
                background-color: #5353ff;
                color: #fff;
                // border-radius: 20px;
                padding: 4px 12px;
                font-size: 13px;

                &:hover {
                    background-color: #3700b3;
                }
            }
        }

    }

    .box3,
    .box4 {
        @include fccc;
        gap: 32px;

        .box_child_wrap {
            @include fsbc;
            width: 100%;

            .box_child {
                @include fcsc;
                gap: 16px;
                padding: 8px;
                width: 160px;
                box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

                p {
                    span {

                        &:first-of-type {
                            width: 70px;
                            display: inline-block;
                        }
                    }
                }

            }
        }
    }
}

.sect1 {
    @include fcc;

    .screen_wrap {
        position: relative;
        width: calc(100% - 300px);
        height: 100vh;

        .screen {
            @include fscc;
            gap: 32px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100vh;
            overflow: scroll;

            &.active {
                opacity: 1;
                visibility: visible;
            }

            .wrap {
                @include fsbc;
                width: 100%;
                padding: 8px 64px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

                h2 {}

                .tab_menus {
                    @include fcc;
                    gap: 16px;

                    li {
                        cursor: pointer;
                        color: $secondary-color0;

                        &:hover {
                            filter: invert(100);
                        }

                        &.active {
                            font-weight: bold;
                            filter: invert(100);
                        }
                    }
                }
            }

            .sub_screen_wrap {
                position: relative;
                width: 100%;

                .sub_screen {
                    @include fccc;
                    gap: 48px;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    width: 100%;
                    //밑에 여백
                    padding: 20px 0px 200px 0px;

                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }

                    // box, box1,2,3,4 가 이자리에 있음
                }

                .sub_screen2 {
                    .wrap1 {
                        @include fccc;
                        gap: 48px;
                        width: 100%;
                        height: auto;

                        //   .search-btn {}
                        .box {
                            background-color: #fafafa;
                            color: #444;
                            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
                            border-radius: 9px;
                        }

                        .box1 {
                            height: auto;

                            .search-box {
                                width: 100%;
                                padding: 16px;

                                .row {
                                    display: flex;
                                    align-items: center;
                                    gap: 16px;
                                    margin-bottom: 16px;
                                }

                                .col {
                                    &.label {
                                        width: 100px;
                                        font-weight: bold;
                                        color: #444;
                                    }

                                    &.controls {
                                        @include fsc;
                                        // flex: 1;
                                        flex-wrap: wrap;
                                        gap: 8px;

                                    }

                                    // .select {}

                                    .date-buttons {
                                        display: flex;
                                        gap: 8px;

                                        button {
                                            background-color: #ffffff;
                                            border: 1px solid #ccc;
                                            color: #444;
                                            padding: 6px 12px;
                                            font-size: 13px;
                                            border-radius: 8px;
                                            cursor: pointer;
                                            transition: background-color 0.3s ease, color 0.3s ease;

                                            &:hover {
                                                background-color: #5353ff;
                                                color: #fff;
                                            }

                                            &:active {
                                                background-color: #3700b3;
                                            }
                                        }
                                    }

                                    .date-inputs {
                                        display: flex;
                                        align-items: center;
                                        gap: 8px;

                                        input[type="date"] {
                                            padding: 6px 12px;
                                            border: 1px solid #ccc;
                                            font-size: 14px;
                                            border-radius: 8px;
                                            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
                                            transition: border 0.3s ease;

                                            &:focus {
                                                border-color: #5353ff;
                                                box-shadow: 0 0 8px rgba(83, 83, 255, 0.3);
                                            }
                                        }

                                        span {
                                            font-size: 14px;
                                            color: #444;
                                        }
                                    }
                                }
                            }
                        }

                        .box2 {
                            @include fcsc;
                            gap: 0;
                            padding: 16px;
                            height: auto;

                            .total {
                                @include fsc;
                                gap: 16px;
                                padding: 16px 0px;

                            }

                            .pagination {
                                margin-top: 20px;
                                text-align: center;

                                button {
                                    margin: 0 4px;
                                    padding: 6px 12px;
                                    border: none;
                                    background: #f0f0f0;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    transition: all 0.2s;

                                    &:hover {
                                        background: #d0d0ff;
                                    }

                                    &.active {
                                        background: #5353ff;
                                        color: white;
                                        font-weight: bold;
                                    }
                                }
                            }


                            .order-table {
                                width: 100%;
                                border-collapse: collapse;
                                font-size: 14px;
                                color: #333;
                                border: 1px solid #ddd;
                                background-color: #fff;

                                thead {
                                    background-color: #f8f9fa;

                                    th {
                                        border: 1px solid #ddd;
                                        padding: 12px 8px;
                                        font-weight: 600;
                                        text-align: center;
                                        white-space: nowrap;
                                    }
                                }

                                tbody {
                                    tr {
                                        transition: 0.3s ease-in-out;

                                        &:hover {
                                            background-color: #f1f3f5; // 행 hover 효과
                                        }

                                        td {
                                            border: 1px solid #eee;
                                            padding: 10px 8px;
                                            text-align: center;
                                            white-space: nowrap;
                                        }
                                    }
                                }
                            }


                            .box_screen {
                                //@include fss; 검색버튼 클릭시 이걸로 변경되야함
                                @include fcc;
                                width: 100%;
                                height: auto;
                                min-height: 600px;
                                border: 1px solid #ddd;

                                .nothing_text {
                                    //검색버튼 클릭시 없어짐
                                }

                                // .order-item {
                                //     li {}
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
}