@import './flex_mixins.scss';
@import './color.scss';

// ====== h1 자동차 
$car-color: #2a2a2a;
$car-color2: rgb(255, 2, 2);
$wheel-color: #1e1e1e;
$road-color: #ccc;
$road-white: #fff;

// ======  h1
h1 {
    @include fcc;
    gap: 32px;

}

.car-road {
    width: 110px;
    overflow: hidden;
}

.car {
    width: 110px;
    position: relative;

    .car-base {
        background: $car-color;
        width: 100%;
        height: 22px;
        border-radius: 2px 5px 10px 10px;
    }

    .car-base2 {
        background: $car-color2;
        width: 100%;
        height: 22px;
        border-radius: 2px 5px 10px 10px;
    }


    .car-top {
        height: 36px;
        width: 66px;
        background: $car-color;
        margin-bottom: -18px;
        border-radius: 100px / 60px;
        margin-left: 15px;
        position: relative;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-top: 18px solid transparent;
            border-bottom: 12px solid transparent;
            border-right: 43px solid $car-color;
            position: absolute;
            left: -10px;
        }

        &::after {
            content: '';
            position: absolute;
            right: -29px;
            top: 14px;
            border-radius: 50% 50% 0 0;
            width: 60px;
            height: 8px;
            background: $car-color;
        }

        .window {
            position: absolute;
            background: white;
            width: 42px;
            height: 11px;
            top: 3px;
            border-radius: 50% 50% 0 0;
            left: 12px;

            &::before {
                content: '';
                position: absolute;
                left: 20px;
                background: $car-color;
                height: 100%;
                width: 5px;
            }
        }
    }
        .car-top2 {
        height: 36px;
        width: 66px;
        background: $car-color2;
        margin-bottom: -18px;
        border-radius: 100px / 60px;
        margin-left: 15px;
        position: relative;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-top: 18px solid transparent;
            border-bottom: 12px solid transparent;
            border-right: 43px solid $car-color2;
            position: absolute;
            left: -10px;
        }

        &::after {
            content: '';
            position: absolute;
            right: -29px;
            top: 14px;
            border-radius: 50% 50% 0 0;
            width: 60px;
            height: 8px;
            background: $car-color2;
        }

        .window {
            position: absolute;
            background: white;
            width: 42px;
            height: 11px;
            top: 3px;
            border-radius: 50% 50% 0 0;
            left: 12px;

            &::before {
                content: '';
                position: absolute;
                left: 20px;
                background: $car-color2;
                height: 100%;
                width: 5px;
            }
        }
    }

    .wheel {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: $wheel-color;
        position: absolute;
        border: 2px solid rgb(249, 249, 249);
        animation: rotateWheel 0.7s infinite linear;

        &::before {
            content: '';
            width: 14px;
            height: 14px;
            top: 4px;
            left: 4px;
            border-radius: 50%;
            background: white;
            position: absolute;
        }

        &::after {
            content: '';
            position: absolute;
            top: 4px;
            bottom: 4px;
            width: 3px;
            left: 50%;
            transform: translateX(-50%);
            background: $wheel-color;
        }

        &-left {
            left: 12px;
            bottom: -10px;
        }

        &-right {
            right: 12px;
            bottom: -10px;
        }

        &-spike {
            position: absolute;
            top: 50%;
            bottom: 4px;
            width: calc(100% - 8px);
            left: 4px;
            height: 3px;
            transform: translateY(-50%);
            background: $wheel-color;
        }

        &-center {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: white;
            z-index: 2;
            transform: translate(-50%, -50%);
        }
    }

    .head-light {
        position: absolute;
        background: #ffdd00;
        right: 1px;
        top: 19px;
        border-radius: 50% 15px 15px 50%;
        width: 10px;
        height: 4px;
    }
}

.road {
    position: relative;
    width: 100%;
    margin-top: 8px;
    height: 3px;
    background-image: linear-gradient(to left,
            $road-color 0%,
            $road-color 20%,
            $road-white 20%,
            $road-white 40%,
            $road-color 40%,
            $road-color 60%,
            $road-white 60%,
            $road-white 80%,
            $road-color 80%);
    animation: border-dance 0.5s infinite linear;
}

// Keyframes
@keyframes rotateWheel {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes border-dance {
    0% {
        left: 40px;
    }

    100% {
        left: 0px;
    }
}


//=======
.position_fixed {
    position: fixed;
    z-index: -1;
}

.opacity {
    opacity: 0.7;
}

// ======
body {
    user-select: none;
}

// ======
.sect1_1 {
    backdrop-filter: blur(4px);

    .inner {
        @include fccc;
        gap: 48px;

        .wrap {
            @include fccc;
            gap: 4px;

            h2 {}

            p {}
        }

        .tab_btns {
            @include fcc;
            gap: 32px;

            .tab_btn {
                cursor: pointer;
                font-size: 18px;
                color: $secondary-color0;
                transition: filter 0.3s ease-in-out;

                &:hover {
                    filter: invert(100);
                }

                &.active {
                    font-weight: bold;
                    filter: invert(100);
                }
            }
        }

        .screen_wrap {
            width: 100%;
            height: auto;
            //프로덕츠스에다가 쉐도우 줘서 마진탑좀줌 경계를 넘어서 ㅠㅠ
            // margin-top: 80px;

            //screen 자바스크립트 애드,리브 클래스 위해
            .screen {
                display: none;

                &.active {
                    display: block;
                }
            }

            //screen안에 products 스타일
            .screen {
                .products {
                    @include fsbc;
                    align-items: start;
                    margin-top: 36px;

                    .product {
                        @include fscc;
                        width: 300px;
                        height: 500px;

                        &:nth-of-type(1n) {

                            transition: 0.3s ease-in-out;

                            &:hover {
                                margin: 48px 0px 0px 0px;
                                // margin: 48px;
                            }
                        }

                        &:nth-of-type(2n) {
                            margin: 48px 0px 0px 0px;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                margin-top: 0px;
                            }
                        }

                        &:hover {
                            .i_w {
                                .hidden {
                                    opacity: 1;
                                }
                            }
                        }

                        .i_w {
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            height: 331px;
                            // background-color: $primary-color1;
                            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%
                            }

                            .hidden {
                                @include fcc;
                                gap: 8px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                opacity: 0;
                                transition: opacity 0.3s ease-in-out
                            }
                        }

                        article {
                            @include fcsc;
                            width: 100%;
                            height: calc(100% - 331px);
                            font-size: 12px;

                            b {
                                font-size: 14px;
                            }

                            span {
                                color: $secondary-color0;
                                text-decoration: line-through;
                            }

                            .price {}
                        }
                    }
                }
            }
        }
    }
}

//비디오
video {
    width: 100%;
}