    // <div class="login-box">
    //             <p>로그인</p>
    //             <form>
    //                 <div class="user-box">
    //                     <input required="" name="" type="text">
    //                     <label>Email</label>
    //                 </div>
    //                 <div class="user-box">
    //                     <input required="" name="" type="password">
    //                     <label>Password</label>
    //                 </div>
    //                 <a href="#">
    //                     <span></span>
    //                     <span></span>
    //                     <span></span>
    //                     <span></span>
    //                     Submit
    //                 </a>
    //             </form>
    //             <p>Don't have an account? <a href="" class="a2">Sign up!</a></p>
    //         </div>
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        margin: 20px auto;
        transform: translate(-50%, -55%);
        background: rgba(0, 0, 0, 0.9);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;

        p:first-child {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .user-box {
            position: relative;

            input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background: transparent;

                &:focus~label,
                &:valid~label {
                    top: -20px;
                    left: 0;
                    color: #fff;
                    font-size: 12px;
                }
            }

            label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                pointer-events: none;
                transition: 0.5s;
            }
        }

        form {
            a {
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                font-weight: bold;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                text-transform: uppercase;
                overflow: hidden;
                transition: 0.5s;
                margin-top: 40px;
                letter-spacing: 3px;

                &:hover {
                    background: #fff;
                    color: #272727;
                    border-radius: 5px;
                }

                span {
                    position: absolute;
                    display: block;

                    &:nth-child(1) {
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 2px;
                        background: linear-gradient(90deg, transparent, #fff);
                        animation: btn-anim1 1.5s linear infinite;
                    }

                    &:nth-child(2) {
                        top: -100%;
                        right: 0;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(180deg, transparent, #fff);
                        animation: btn-anim2 1.5s linear infinite;
                        animation-delay: 0.375s;
                    }

                    &:nth-child(3) {
                        bottom: 0;
                        right: -100%;
                        width: 100%;
                        height: 2px;
                        background: linear-gradient(270deg, transparent, #fff);
                        animation: btn-anim3 1.5s linear infinite;
                        animation-delay: 0.75s;
                    }

                    &:nth-child(4) {
                        bottom: -100%;
                        left: 0;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(360deg, transparent, #fff);
                        animation: btn-anim4 1.5s linear infinite;
                        animation-delay: 1.125s;
                    }
                }
            }
        }

        p:last-child {
            color: #aaa;
            font-size: 14px;
        }

        a.a2 {
            color: #fff;
            text-decoration: none;

            &:hover {
                background: transparent;
                color: #aaa;
                border-radius: 5px;
            }
        }
    }

    // Keyframes
    @keyframes btn-anim1 {
        0% {
            left: -100%;
        }

        50%,
        100% {
            left: 100%;
        }
    }

    @keyframes btn-anim2 {
        0% {
            top: -100%;
        }

        50%,
        100% {
            top: 100%;
        }
    }

    @keyframes btn-anim3 {
        0% {
            right: -100%;
        }

        50%,
        100% {
            right: 100%;
        }
    }

    @keyframes btn-anim4 {
        0% {
            bottom: -100%;
        }

        50%,
        100% {
            bottom: 100%;
        }
    }

    // ==============================================================


    :root {
        --primary-color: #4EA685;
        --secondary-color: #57B894;
        --black: #000000;
        --white: #ffffff;
        --gray: #efefef;
        --gray-2: #757575;

        --facebook-color: #4267B2;
        --google-color: #DB4437;
        --twitter-color: #1DA1F2;
        --insta-color: #E1306C;
    }

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100vh;
        overflow: hidden;
    }

    .container {
        position: relative;
        min-height: 100vh;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 300vw;
            transform: translate(35%, 0);
            background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
            transition: 1s ease-in-out;
            z-index: 6;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-bottom-right-radius: max(50vw, 50vh);
            border-top-left-radius: max(50vw, 50vh);
        }

        &.sign-in::before {
            transform: translate(0, 0);
            right: 50%;
        }

        &.sign-up::before {
            transform: translate(100%, 0);
            right: 50%;
        }

        &.sign-in .form.sign-in,
        &.sign-in .social-list.sign-in,
        &.sign-in .social-list.sign-in>div,
        &.sign-up .form.sign-up,
        &.sign-up .social-list.sign-up,
        &.sign-up .social-list.sign-up>div {
            transform: scale(1);
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
    }

    .col {
        width: 50%;
    }

    .align-items-center {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .flex-col {
        flex-direction: column;
    }

    .form-wrapper {
        width: 100%;
        max-width: 28rem;
    }

    .form {
        padding: 1rem;
        background-color: var(--white);
        border-radius: 1.5rem;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(0);
        transition: 0.5s ease-in-out;
        transition-delay: 1s;

        button {
            cursor: pointer;
            width: 100%;
            padding: 0.6rem 0;
            border-radius: 0.5rem;
            border: none;
            background-color: var(--primary-color);
            color: var(--white);
            font-size: 1.2rem;
            outline: none;
        }

        p {
            margin: 1rem 0;
            font-size: 0.7rem;
        }
    }

    .input-group {
        position: relative;
        width: 100%;
        margin: 1rem 0;

        i {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            font-size: 1.4rem;
            color: var(--gray-2);
        }

        input {
            width: 100%;
            padding: 1rem 3rem;
            font-size: 1rem;
            background-color: var(--gray);
            border-radius: 0.5rem;
            border: 0.125rem solid var(--white);
            outline: none;

            &:focus {
                border: 0.125rem solid var(--primary-color);
            }
        }
    }

    .social-list {
        margin: 2rem 0;
        padding: 1rem;
        border-radius: 1.5rem;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(0);
        transition: 0.5s ease-in-out;
        transition-delay: 1.2s;

        >div {
            color: var(--white);
            margin: 0 0.5rem;
            padding: 0.7rem;
            cursor: pointer;
            border-radius: 0.5rem;
            transform: scale(0);
            transition: 0.5s ease-in-out;

            &:nth-child(1) {
                transition-delay: 1.4s;
            }

            &:nth-child(2) {
                transition-delay: 1.6s;
            }

            &:nth-child(3) {
                transition-delay: 1.8s;
            }

            &:nth-child(4) {
                transition-delay: 2s;
            }

            i {
                font-size: 1.5rem;
                transition: 0.4s ease-in-out;
            }

            &:hover i {
                transform: scale(1.5);
            }
        }
    }

    .facebook-bg {
        background-color: var(--facebook-color);
    }

    .google-bg {
        background-color: var(--google-color);
    }

    .twitter-bg {
        background-color: var(--twitter-color);
    }

    .insta-bg {
        background-color: var(--insta-color);
    }

    .pointer {
        cursor: pointer;
    }

    .content-row {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 6;
        width: 100%;

        .text {
            margin: 4rem;
            color: var(--white);

            h2 {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 2rem 0;
                transition: 1s ease-in-out;
            }

            p {
                font-weight: 600;
                transition: 1s ease-in-out;
                transition-delay: 0.2s;
            }

            &.sign-in h2,
            &.sign-in p {
                transform: translateX(-250%);
            }

            &.sign-up h2,
            &.sign-up p {
                transform: translateX(250%);
            }
        }

        .img img {
            width: 30vw;
            transition: 1s ease-in-out;
            transition-delay: 0.4s;

            &.sign-in {
                transform: translateX(-250%);
            }

            &.sign-up {
                transform: translateX(250%);
            }
        }

        .container.sign-in & .text.sign-in h2,
        .container.sign-in & .text.sign-in p,
        .container.sign-in & .img.sign-in img,
        .container.sign-up & .text.sign-up h2,
        .container.sign-up & .text.sign-up p,
        .container.sign-up & .img.sign-up img {
            transform: translateX(0);
        }
    }

    // Responsive
    @media only screen and (max-width: 425px) {
        .container {

            &::before,
            &.sign-in::before,
            &.sign-up::before {
                height: 100vh;
                border-bottom-right-radius: 0;
                border-top-left-radius: 0;
                z-index: 0;
                transform: none;
                right: 0;
            }
        }

        .row {
            align-items: flex-end;
            justify-content: flex-end;
        }

        .col {
            width: 100%;
            position: absolute;
            padding: 2rem;
            background-color: var(--white);
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            transform: translateY(100%);
            transition: 1s ease-in-out;
        }

        .content-row {
            align-items: flex-start !important;

            .col {
                transform: translateY(0);
                background-color: unset;
            }
        }

        .container.sign-in .col.sign-in,
        .container.sign-up .col.sign-up {
            transform: translateY(0);
        }
    }