@import './flex_mixins.scss';
@import './color.scss';

//

body {
    user-select: none;
}

.sect2 {
    .inner {
        @include fccc;
        gap: 48px;

        .wrap {
            @include fccc;
            gap: 4px;

            h2 {}

            p {}
        }

        .sect2_swiper {}
    }
}

.sect3 {
    .inner {
        @include fccc;
        gap: 48px;

        .wrap {
            @include fccc;
            gap: 4px;

            h2 {}

            p {}
        }

        .banner1 {
            @include fcc;
            gap: 32px;
            width: 100%;

            .hidden {
                position: relative;
                transition: filter 0.3s ease-in-out;

                &:hover {
                    img {
                        filter: blur(2px);
                    }

                    .btn3 {
                        opacity: 1;
                    }
                }

                .btn3 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }
            }

            .border_r {
                border-radius: 9px;
            }

            .shadow {
                // box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            }

            .img_style {
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }

                img {
                    width: 100%;
                    transition: transform 0.3s ease-in-out;
                }
            }

            .left {
                @include fccc;
                gap: 24px;
                width: 911px;

                .tob_box {

                    width: 100%;
                    height: 400px
                }

                .bottom_box {
                    @include fcc;
                    gap: 16px;

                    .b_b1 {
                        width: 675px;
                        height: 400px;
                    }

                    .b_b2 {
                        width: 220px;
                        height: 400px;
                    }
                }
            }

            .right {
                @include fccc;
                gap: 24px;
                width: 456px;

                .tob_box {
                    width: 456px;
                    height: 630px;
                }

                .bottom_box {
                    width: 456px;
                    height: 170px;
                }
            }

        }
    }
}

.sect4 {
    .inner {
        @include fccc;
        gap: 48px;

        .wrap {
            @include fccc;
            gap: 4px;

            h2 {}

            p {}
        }

        .tab_btns {
            @include fcc;
            gap: 32px;

            .tab_btn {
                cursor: pointer;
                font-size: 18px;
                color: $secondary-color0;
                transition: filter 0.3s ease-in-out;

                &:hover {
                    filter: invert(100);
                }

                &.active {
                    font-weight: bold;
                    filter: invert(100);
                }
            }
        }

        .screen_wrap {
            width: 100%;
            height: auto;
            //프로덕츠스에다가 쉐도우 줘서 마진탑좀줌 경계를 넘어서 ㅠㅠ
            // margin-top: 80px;

            //screen 자바스크립트 애드,리브 클래스 위해
            .screen {
                display: none;

                &.active {
                    display: block;
                }
            }

            //screen안에 products 스타일
            .screen {
                .products {
                    @include fsbc;
                    align-items: start;

                    .product {
                        @include fscc;
                        width: 300px;
                        height: 500px;

                        &:nth-of-type(1n) {

                            transition: 0.3s ease-in-out;

                            &:hover {
                                margin: 48px 0px 0px 0px;
                                // margin: 48px;
                            }
                        }

                        &:nth-of-type(2n) {
                            margin: 48px 0px 0px 0px;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                margin-top: 0px;
                            }
                        }

                        &:hover {
                            .i_w {
                                .hidden {
                                    opacity: 1;
                                }
                            }
                        }

                        .i_w {
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            height: 331px;
                            background-color: $primary-color5;

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%
                            }

                            .hidden {
                                @include fcc;
                                gap: 8px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                opacity: 0;
                                transition: opacity 0.3s ease-in-out
                            }
                        }

                        article {
                            @include fcsc;
                            width: 100%;
                            height: calc(100% - 331px);
                            font-size: 12px;

                            b {
                                font-size: 14px;
                            }

                            span {
                                color: $secondary-color0;
                                text-decoration: line-through;
                            }

                            .price {}
                        }
                    }
                }
            }
        }
    }
}

.sect5 {
    background: url(../../imgs/sect5/jimny2.png)no-repeat center/cover;
    background-attachment: fixed;

    .inner {
        @include fcc;

        .barcode {

            a {
                transition: 0.3s ease-in-out;

                &:hover {
                    opacity: 0.8;
                    color: $primary-color0;
                }
            }
        }
    }
}

.sect6 {
    .inner {
        @include fccc;
        gap: 80px;

        .wrap {
            @include fccc;
            gap: 4px;

            h2 {}

            p {}
        }

        .products_wrap {
            width: 100%;

            .products {
                @include fsbc;
                align-items: start;

                .product {
                    @include fscc;
                    width: 300px;
                    height: 500px;

                    &:nth-of-type(1n) {
                        transition: 0.3s ease-in-out;

                        &:hover {
                            margin: 48px 0px 0px 0px;
                            // margin: 48px;
                        }
                    }

                    &:nth-of-type(2n) {
                        margin: 48px 0px 0px 0px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            margin-top: 0px;
                        }
                    }

                    &:hover {
                        .i_w {
                            .hidden {
                                opacity: 1;
                            }
                        }
                    }

                    .i_w {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 331px;
                        background-color: $primary-color5;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%
                        }

                        .hidden {
                            @include fcc;
                            gap: 8px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out
                        }
                    }

                    article {
                        @include fcsc;
                        width: 100%;
                        height: calc(100% - 331px);
                        font-size: 12px;

                        b {
                            font-size: 14px;
                        }

                        span {
                            color: $secondary-color0;
                            text-decoration: line-through;
                        }

                        .price {}
                    }
                }
            }
        }
    }
}

.sect7 {
    .inner {
        @include fccc;
        gap: 32px;

        .wrap {
            @include fccc;
            gap: 4px;

            h2 {}

            p {}
        }
    }
}

.sect8 {
    .inner {
        .banner_box {
            @include fcc;
            width: 100%;

            .banner_text {
                @include fcsc;
                gap: 24px;
                width: 50%;
                padding: 152px;
                background-color: $secondary-color2;
                ;

                h2 {
                    font-size: 40px;
                }

                p {
                    font-size: 18px;
                }

                .p1 {
                    color: $secondary-color5;
                }

                .p2 {}
            }

            .i_w {
                @include fcc;
                width: 50%;
                height: 588px;
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}

.sect9 {
    .inner {
        @include fccc;
        gap: 48px;

        .wrap {
            @include fccc;
            gap: 4px;

            h2 {}

            p {}
        }

        .products_wrap {
            width: 100%;

            .products {
                @include fsbc;
                align-items: start;

                .product {
                    @include fscc;
                    width: 300px;
                    height: 500px;

                    &:nth-of-type(1n) {
                        transition: 0.3s ease-in-out;

                        &:hover {
                            margin: 48px 0px 0px 0px;
                            // margin: 48px;
                        }
                    }

                    &:nth-of-type(2n) {
                        margin: 48px 0px 0px 0px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            margin-top: 0px;
                        }
                    }

                    &:hover {
                        .i_w {
                            .hidden {
                                opacity: 1;
                            }
                        }
                    }

                    .i_w {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 331px;
                        background-color: $primary-color5;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%
                        }

                        .hidden {
                            @include fcc;
                            gap: 8px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out
                        }
                    }

                    article {
                        @include fcsc;
                        width: 100%;
                        height: calc(100% - 331px);
                        font-size: 12px;

                        b {
                            font-size: 14px;
                        }

                        span {
                            color: $secondary-color0;
                            text-decoration: line-through;
                        }

                        .price {}
                    }
                }
            }
        }
    }
}