@import './flex_mixins.scss';
@import './color.scss';

body {
    user-select: none;
}

// ======================
//table 들
//th(열) td(열) 둘다같다 그리고 = 둘다 tr(행) 안에 있다  헤드냐 바디냐의 따라 위치가 다름 바디는=th
//colspan='2'은 HTML 테이블에서 사용하는 속성으로, 한 셀이 여러 열(컬럼)을 가로로 병합할 수 있도록 해주는 기능
//tr =행 th= 열
.Info {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;

    thead {
        background-color: #f8f9fa;

        tr {
            th {
                border: 1px solid #ddd;
                padding: 12px 8px;
                font-weight: 600;
                text-align: center;
                white-space: nowrap;
            }
        }
    }

    tbody {
        tr {

            td {
                border: 1px solid #eee;
                padding: 16px;

                &:first-of-type {
                    width: 200px;
                    border: 1px solid #ddd;
                    background-color: #f8f9fa;
                }
            }
        }
    }
}

//Q&A 
.Q_A {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
    background-color: #fff;

    thead {
        background-color: #f8f9fa;

        th {
            border: 1px solid #ddd;
            padding: 12px 8px;
            font-weight: 600;
            text-align: center;
            white-space: nowrap;
        }
    }

    tbody {
        tr {
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #f1f3f5; // 행 hover 효과
            }

            td {
                border: 1px solid #eee;
                padding: 10px 8px;
                text-align: center;
                white-space: nowrap;
            }
        }
    }
}

//반품.교환
.return {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;

    thead {
        background-color: #f8f9fa;

        tr {
            th {
                border: 1px solid #ddd;
                padding: 12px 8px;
                font-weight: 600;
                text-align: center;
                white-space: nowrap;
            }
        }
    }

    tbody {
        tr {
            td {
                border: 1px solid #eee;
                padding: 16px;

                &:first-of-type {
                    width: 200px;
                    border: 1px solid #ddd;
                    background-color: #f8f9fa;
                }
            }
        }
    }
}

//판매자 정보
.boss {
    width: 100%;
    border-collapse: collapse;

    tbody {
        tr {
            td {
                border: 1px solid #eee;
                padding: 8px;
                text-align: center;

                &:first-of-type {
                    width: 200px;
                    border: 1px solid #ddd;
                    background-color: #f8f9fa;
                }
            }
        }
    }
}

// ======================
//위드100%
.width100 {
    width: 100%;
}

// =====================
//폰트사이즈
.font14 {
    font-size: 14px;
}

// ======================
//칼라
.color1 {
    color: $primary-color5;
}

.color2 {
    background-color: #f8f9fa;
    color: #333;
}

// ======================
//플렉스
.fsbc {
    @include fsbc;
}

.fcc16 {
    @include fcc;
    gap: 16px
}

.fsc16 {
    @include fsc;
    gap: 16px
}

.fcsc16 {
    @include fcsc;
    gap: 16px
}

.fcsc40 {
    @include fcsc;
    gap: 40px
}

.fccc40 {
    @include fccc;
    gap: 40px
}

.fcsc4 {
    @include fcsc;
    gap: 4px
}

.aic {
    align-items: center !important;
}

// ======================
.detail_panel_wrap {


    .toggle-btn {}

    .detail_panel {
        display: none;
        text-align: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

        img {
            padding: 48px 0px;
        }
    }
}

// ======================
.sect1_2 {
    .inner {
        @include fcsc;
        gap: 80px;

        .fsbc {
            align-items: start;
            gap: 48px;

            .product_box {
                @include fc;
                gap: 32px;

                .i_w {
                    @include fcc;
                    //이거 위드값 늘리거나 줄이면 product_detail_box 크기조정해야함
                    width: 800px;
                    height: 700px;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        transition: 0.3s ease-in-out;
                    }
                }

                .img_tab {
                    @include fsc;
                    gap: 8px;
                    width: 100%;

                    li {
                        @include fcc;
                        width: 80px;
                        height: 100px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.6;
                        }

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .product_detail_box {
                @include fc;
                gap: 80px;
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
                padding: 16px 0px 0px 0px;
                width: 500px;
                height: 700px;

                h2 {}

                .detail {
                    @include fc;
                    gap: 16px;

                    p {
                        @include fsc;
                        gap: 32px;

                        span {

                            width: 95px;
                        }
                    }

                    .p1 {
                        color: $secondary-color0;
                        text-decoration: line-through;
                    }

                    .p2 {
                        font-weight: bold;
                    }

                    .p3 {
                        color: $secondary-color1;
                    }
                }

                .price {
                    @include fsbc;
                    align-items: center;
                    border-top: 2px solid $secondary-color0;
                    padding: 32px 0px;

                    .quantity-selector {
                        input {
                            text-align: center; // 수평 가운데
                            vertical-align: middle;
                            font-size: 16px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            // 시스템 기본 스타일 제거 (크롬 등 브라우저 기본 스타일 초기화)
                            -moz-appearance: textfield;

                            &::-webkit-inner-spin-button,
                            &::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                    }

                    .p3 {
                        font-weight: bold;
                    }
                }

                .btn_wrap {
                    @include fsc;
                    gap: 32px;
                    padding: 32px 0px;
                    border-top: 2px solid $secondary-color0;
                }
            }
        }
    }
}