@import './flex_mixins.scss';
@import './color.scss';



.sect1_swiper {
    width: 100%;
    height: calc(100vh - 100px);


    .swiper-slide {
        @include fcc;
        text-align: center;
        font-size: 18px;
    }

    .swiper_slide1 {
        background: url(../../imgs/swiper/slide/sect1/Team-Truss-copen_bg1.png)no-repeat center/cover;
    }

    .swiper_slide2 {
        background: url(../../imgs/swiper/slide/sect1/Team-Truss-jimny_bg1.png)no-repeat center/cover;
    }

    .swiper_slide3 {
        background: url(../../imgs/swiper/slide/sect1/Team-Truss-posche_bg2.png)no-repeat center/cover;
    }

    .swiper_slide4 {
        background: url(../../imgs/swiper/slide/sect1/1.png)no-repeat center/cover;
    }

    .swiper_slide5 {
        background: url(../../imgs/swiper/slide/sect1/3.png)no-repeat center/cover;
    }

    .swiper_slide6 {
        background: url(../../imgs/swiper/slide/sect1/6.png)no-repeat center/cover;
    }

    // 스와이퍼 버튼
    .swiper-button-next,
    .swiper-button-prev {
        transition: 0.3s ease-in-out;

        &:hover {
            opacity: 0.6;
        }
    }

    .swiper-button-next {

        position: absolute;
        width: 40px;
        height: 80px;
        right: 5%;
        background: url(../../imgs/swiper/common/big_next.png)no-repeat center/cover;
    }

    .swiper-button-prev {
        position: absolute;
        width: 40px;
        height: 80px;
        left: 5%;
        background: url(../../imgs/swiper/common/big_prev.png)no-repeat center/cover;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }

    //스와이퍼 불렛
    .swiper-pagination {
        @include fcc;
        gap: 8px;
        position: absolute;
        bottom: 3%;

        .swiper-pagination-bullet {
            position: relative;
            width: 11px;
            height: 11px;
            background-color: transparent;
            border: 2px solid $primary-color0;
            opacity: 1;
            margin: 0 6px;

            // swiper-pagination-bullet-active 이거 자체가 알아서 붙게해주는 코드
            &.swiper-pagination-bullet-active {
                width: 30px;
                height: 30px;
                background: url(../../imgs/swiper/common/swiper_surcle_active.png) no-repeat center/cover;
                filter: brightness(0) invert(1);
                border: none;
            }
        }
    }
}

//스와이퍼 스플리트 텍스트 스타일
.sect1 {
    .swiper-slide {
        position: relative;

        .text {
            position: absolute;
            bottom: 2%;
            left: 9%;
            color: #535353;
            font-size: 48PX;
            z-index: 2;
        }
    }

    .blur {
        background: rgba(255, 255, 255, 0.15); // 투명한 흰색
        backdrop-filter: blur(1px); // 배경 블러
        -webkit-backdrop-filter: blur(10px); // 사파리 지원
        border: 1px solid rgba(255, 255, 255, 0.2); // 얇은 테두리
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); // 살짝 그림자
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 92px;
    }
}

//sect2 스와이퍼
.sect2_swiper {
    width: 100%;
    height: 600px;

    .swiper-slide {
        @include fscc;

        &:nth-of-type(2n) {
            margin-top: 32px;
        }

        &:hover {
            .i_w {
                .hidden {
                    opacity: 1;
                }
            }
        }


        .i_w {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: auto;
            background-color: $primary-color5;

            img {
                width: 100%;
                height: 100%
            }

            .hidden {
                @include fcc;
                gap: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.3s ease-in-out
            }
        }

        article {
            @include fcsc;
            width: 100%;
            height: calc(100% - 331px);
            font-size: 12px;

            b {
                font-size: 14px;
            }

            span {
                color: $secondary-color0;
                text-decoration: line-through;
            }

            .price {}
        }

    }
}