@import './flex_mixins.scss';
@import './color.scss';

.underline_gray {
    margin-top: 2px;
    border-radius: 9px;
    background-color: #838383;
    width: 0%;
    height: 3px;
    transition: 0.3s ease-in-out;
}

// 적용 ~~
.main_menu {
    &:hover {
        .underline_gray {
            width: 100%;
        }
    }
}

//main_page
.sect4 {
    .inner {
        .tab_btns {
            .tab_btn {
                &:hover {
                    .underline_gray {
                        width: 100%;
                    }
                }
            }
        }
    }
}

//import.html
.sect1_1 {
    .inner {
        .tab_btns {
            .tab_btn {
                &:hover {
                    .underline_gray {
                        width: 100%;
                    }
                }
            }
        }
    }
}