@charset "UTF-8";
.btn1 {
  font-weight: bold;
  cursor: pointer;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 9px;
  transition: 0.3s ease-in-out;
  width: 75px;
  text-align: center;
}
.btn1:hover {
  filter: invert(100%);
}

.btn1_1 {
  font-weight: bold;
  cursor: pointer;
  padding: 4px 16px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 9px;
  transition: 0.3s ease-in-out;
  width: auto;
  text-align: center;
}
.btn1_1:hover {
  filter: invert(100%);
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
}
.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}
.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:hover .hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* From Uiverse.io by adamgiebl */
.btn2 {
  font-family: inherit;
  font-size: 16px;
  border-radius: 40em;
  width: 8em;
  height: 3em;
  z-index: 1;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border: none;
}
.btn2 .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 3em;
  border-radius: 40em;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.btn2 .blob {
  position: absolute;
  z-index: -1;
  border-radius: 5em;
  width: 5em;
  height: 3em;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
.btn2 .blob:nth-child(2) {
  left: 0em;
  top: 0;
  background: #ff930f;
}
.btn2 .blob:nth-child(3) {
  left: 1.8em;
  top: 0;
  z-index: -1;
  background: #bf0fff;
}
.btn2 .blob:nth-child(4) {
  left: 4em;
  top: -1em;
  background: #ff1b6b;
}
.btn2 .blob:nth-child(5) {
  left: 4.3em;
  top: 1.6em;
  background: #0061ff;
}
.btn2:hover .blob {
  transform: scale(1.3);
}
.btn2:hover .blob:nth-child(2) {
  background: #0061ff;
}
.btn2:hover .blob:nth-child(3) {
  background: #ff1b6b;
}
.btn2:hover .blob:nth-child(4) {
  background: #bf0fff;
}
.btn2:hover .blob:nth-child(5) {
  background: #ff930f;
}
.btn2:active {
  border: 2px solid white;
}

/* === Removing default button style & styling === */
.btn3 {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.btn3 .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.btn3:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.btn4 {
  position: relative;
  font-family: inherit;
  font-size: 18px;
  border-radius: 9px;
  width: 8em;
  height: 3em;
  padding: 16px;
  z-index: 1;
  color: #e80000;
  font-weight: bold;
  overflow: hidden;
  border: none;
}
.btn4 .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 3em;
  border-radius: 9px;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.btn4 .blob {
  position: absolute;
  z-index: -1;
  border-radius: 5em;
  width: 5em;
  height: 3em;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
.btn4 .blob:nth-child(2) {
  left: 0em;
  top: 0;
  background: #ff5656;
}
.btn4 .blob:nth-child(3) {
  left: 1.8em;
  top: 0;
  background: #f9ca24;
}
.btn4 .blob:nth-child(4) {
  left: 4em;
  top: -1em;
  background: #ff9f1a;
}
.btn4 .blob:nth-child(5) {
  left: 4.3em;
  top: 1.6em;
  background: #00a8ff;
}
.btn4:hover .blob:nth-child(2) {
  background: #00a8ff;
}
.btn4:hover .blob:nth-child(3) {
  background: #ff9f1a;
}
.btn4:hover .blob:nth-child(4) {
  background: #f9ca24;
}
.btn4:hover .blob:nth-child(5) {
  background: #ff5656;
}
.btn4:hover .blob {
  transform: scale(1.3);
}
.btn4:active {
  border: 2px solid white;
}

.quantity-selector {
  padding: 8px 16px;
}
.quantity-selector button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.quantity-selector button:hover {
  background-color: #444;
  transform: scale(1.1);
}
.quantity-selector input {
  text-align: center;
  width: 80px;
  height: 40px;
  font-size: 16px;
  border: 2px solid #333;
  background-color: #f7f7f7;
  color: #333;
  transition: border-color 0.3s ease;
}
.quantity-selector input:focus {
  outline: none;
  border-color: #000;
}

.primary-button {
  font-family: "Ropa Sans", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0E1822;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #0E1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
}
.primary-button:hover {
  border: 1px solid #FF4655;
  color: white;
  background-position: 40%;
}
.primary-button:before {
  content: "";
  position: absolute;
  background-color: #0E1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
}
.primary-button:hover:before {
  background-color: white;
}
.primary-button:hover:after {
  background-color: white;
}
.primary-button:after {
  content: "";
  position: absolute;
  background-color: #FF4655;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
}

.button-borders {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0E1822;
  border-bottom: 0px;
}
.button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0E1822;
  border-top: 0px;
  z-index: 0;
}

.shape {
  fill: #0E1822;
}

.search-btn {
  background-color: #5353ff;
  color: #fff;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.search-btn:hover {
  background-color: #3700b3;
}
.search-btn:active {
  background-color: #2c2ccf;
}

.check_duplicate_btn {
  background-color: #009688;
  color: #fff;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.check_duplicate_btn:hover {
  background-color: #00796b;
}
.check_duplicate_btn:active {
  background-color: #004d40;
}

.upload_image_btn {
  background-color: #7986cb;
  color: #fff;
  padding: 6px 20px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.1s ease;
}
.upload_image_btn:hover {
  background-color: #5c6bc0;
}
.upload_image_btn:active {
  background-color: #3f51b5;
  transform: scale(0.98);
}

.download_excel_btn {
  background-color: #4caf50;
  color: #fff;
  padding: 6px 20px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.1s ease;
}
.download_excel_btn:hover {
  background-color: #388e3c;
}
.download_excel_btn:active {
  background-color: #2e7d32;
  transform: scale(0.98);
}

.chart_btn {
  background-color: #2196f3;
  color: #fff;
  padding: 6px 20px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.1s ease;
}
.chart_btn:hover {
  background-color: #1976d2;
}
.chart_btn:active {
  background-color: #1565c0;
  transform: scale(0.98);
}

/* From Uiverse.io by vinodjangid07 (36px 버전) */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:active {
  transform: scale(0.9);
}
.bin-button .bin-bottom {
  width: 10px;
}
.bin-button .bin-top {
  width: 12px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.toggle-btn {
  --stone-50: #fafaf9;
  --stone-800: #292524;
  --yellow-400: #facc15;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 1;
  padding: 1px;
  transform: translate(-4px, -4px);
  outline: 2px solid transparent;
  outline-offset: 5px;
  border-radius: 9999px;
  background-color: var(--stone-800);
  color: var(--stone-800);
  text-align: center;
  transition: transform 150ms ease, box-shadow 150ms ease;
  box-shadow: 0.5px 0.5px 0 0 var(--stone-800), 1px 1px 0 0 var(--stone-800), 1.5px 1.5px 0 0 var(--stone-800), 2px 2px 0 0 var(--stone-800), 2.5px 2.5px 0 0 var(--stone-800), 3px 3px 0 0 var(--stone-800), 0 0 0 2px var(--stone-50), 0.5px 0.5px 0 2px var(--stone-50), 1px 1px 0 2px var(--stone-50), 1.5px 1.5px 0 2px var(--stone-50), 2px 2px 0 2px var(--stone-50), 2.5px 2.5px 0 2px var(--stone-50), 3px 3px 0 2px var(--stone-50), 3.5px 3.5px 0 2px var(--stone-50), 4px 4px 0 2px var(--stone-50);
}
.toggle-btn:hover {
  transform: translate(0, 0);
  box-shadow: 0 0 0 2px var(--stone-50);
}
.toggle-btn:active, .toggle-btn:focus-visible {
  outline-color: var(--yellow-400);
}
.toggle-btn:focus-visible {
  outline-style: dashed;
}
.toggle-btn > div {
  position: relative;
  pointer-events: none;
  background-color: var(--yellow-400);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
}
.toggle-btn > div::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  opacity: 0.5;
  background-image: radial-gradient(rgba(255, 255, 255, 0.8) 20%, transparent 20%), radial-gradient(rgb(255, 255, 255) 20%, transparent 20%);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
  mix-blend-mode: hard-light;
  animation: dots 0.5s infinite linear;
}
.toggle-btn > div > span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  gap: 0.25rem;
  filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.25));
}
.toggle-btn > div > span:active {
  transform: translateY(2px);
}

@keyframes dots {
  0% {
    background-position: 0 0, 4px 4px;
  }
  100% {
    background-position: 8px 0, 12px 4px;
  }
}