.card1 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card1::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card1::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card1:hover::after {
  filter: blur(30px);
}
.card1:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card1 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card1 p:not(.heading) {
  font-size: 15px;
}
.card1 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card2 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card2::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ff9a00 0%, #ff6a00 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ff512f 0%, #dd2476 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card2:hover::after {
  filter: blur(30px);
}
.card2:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card2 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card2 p:not(.heading) {
  font-size: 15px;
}
.card2 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card3 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card3::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #00c9a7 0%, #92fe9d 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card3::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #00f2fe 0%, #4facfe 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card3:hover::after {
  filter: blur(30px);
}
.card3:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card3 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card3 p:not(.heading) {
  font-size: 15px;
}
.card3 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card4 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card4::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #a18cd1 0%, #fbc2eb 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card4::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #f093fb 0%, #f5576c 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card4:hover::after {
  filter: blur(30px);
}
.card4:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card4 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card4 p:not(.heading) {
  font-size: 15px;
}
.card4 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card5 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card5::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ff4e50 0%, #f9d423 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card5::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #f83600 0%, #f9d423 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card5:hover::after {
  filter: blur(30px);
}
.card5:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card5 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card5 p:not(.heading) {
  font-size: 15px;
}
.card5 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card6 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card6::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #36d1dc 0%, #5b86e5 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card6::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #1fa2ff 0%, #12d8fa 50%, #a6ffcb 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card6:hover::after {
  filter: blur(30px);
}
.card6:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card6 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card6 p:not(.heading) {
  font-size: 15px;
}
.card6 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card7 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card7::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ffecd2 0%, #fcb69f 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card7::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ff9a9e 0%, #fad0c4 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card7:hover::after {
  filter: blur(30px);
}
.card7:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card7 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card7 p:not(.heading) {
  font-size: 15px;
}
.card7 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card8 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card8::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #7f00ff 0%, #e100ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card8::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #8e2de2 0%, #4a00e0 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card8:hover::after {
  filter: blur(30px);
}
.card8:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card8 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card8 p:not(.heading) {
  font-size: 15px;
}
.card8 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card9 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card9::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ff6a88 0%, #ff99ac 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card9::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ff758c 0%, #ff7eb3 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card9:hover::after {
  filter: blur(30px);
}
.card9:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card9 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card9 p:not(.heading) {
  font-size: 15px;
}
.card9 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card10 {
  position: relative;
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  color: #252525;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card10::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #00f260 0%, #0575e6 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card10::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #43e97b 0%, #38f9d7 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card10:hover::after {
  filter: blur(30px);
}
.card10:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card10 .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card10 p:not(.heading) {
  font-size: 15px;
}
.card10 p:last-child {
  color: #e81cff;
  font-weight: 600;
}