h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.car-road {
  width: 110px;
  overflow: hidden;
}

.car {
  width: 110px;
  position: relative;
}
.car .car-base {
  background: #2a2a2a;
  width: 100%;
  height: 22px;
  border-radius: 2px 5px 10px 10px;
}
.car .car-base2 {
  background: rgb(255, 2, 2);
  width: 100%;
  height: 22px;
  border-radius: 2px 5px 10px 10px;
}
.car .car-top {
  height: 36px;
  width: 66px;
  background: #2a2a2a;
  margin-bottom: -18px;
  border-radius: 100px/60px;
  margin-left: 15px;
  position: relative;
}
.car .car-top::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 43px solid #2a2a2a;
  position: absolute;
  left: -10px;
}
.car .car-top::after {
  content: "";
  position: absolute;
  right: -29px;
  top: 14px;
  border-radius: 50% 50% 0 0;
  width: 60px;
  height: 8px;
  background: #2a2a2a;
}
.car .car-top .window {
  position: absolute;
  background: white;
  width: 42px;
  height: 11px;
  top: 3px;
  border-radius: 50% 50% 0 0;
  left: 12px;
}
.car .car-top .window::before {
  content: "";
  position: absolute;
  left: 20px;
  background: #2a2a2a;
  height: 100%;
  width: 5px;
}
.car .car-top2 {
  height: 36px;
  width: 66px;
  background: rgb(255, 2, 2);
  margin-bottom: -18px;
  border-radius: 100px/60px;
  margin-left: 15px;
  position: relative;
}
.car .car-top2::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 43px solid rgb(255, 2, 2);
  position: absolute;
  left: -10px;
}
.car .car-top2::after {
  content: "";
  position: absolute;
  right: -29px;
  top: 14px;
  border-radius: 50% 50% 0 0;
  width: 60px;
  height: 8px;
  background: rgb(255, 2, 2);
}
.car .car-top2 .window {
  position: absolute;
  background: white;
  width: 42px;
  height: 11px;
  top: 3px;
  border-radius: 50% 50% 0 0;
  left: 12px;
}
.car .car-top2 .window::before {
  content: "";
  position: absolute;
  left: 20px;
  background: rgb(255, 2, 2);
  height: 100%;
  width: 5px;
}
.car .wheel {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #1e1e1e;
  position: absolute;
  border: 2px solid rgb(249, 249, 249);
  animation: rotateWheel 0.7s infinite linear;
}
.car .wheel::before {
  content: "";
  width: 14px;
  height: 14px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background: white;
  position: absolute;
}
.car .wheel::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: #1e1e1e;
}
.car .wheel-left {
  left: 12px;
  bottom: -10px;
}
.car .wheel-right {
  right: 12px;
  bottom: -10px;
}
.car .wheel-spike {
  position: absolute;
  top: 50%;
  bottom: 4px;
  width: calc(100% - 8px);
  left: 4px;
  height: 3px;
  transform: translateY(-50%);
  background: #1e1e1e;
}
.car .wheel-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.car .head-light {
  position: absolute;
  background: #ffdd00;
  right: 1px;
  top: 19px;
  border-radius: 50% 15px 15px 50%;
  width: 10px;
  height: 4px;
}

.road {
  position: relative;
  width: 100%;
  margin-top: 8px;
  height: 3px;
  background-image: linear-gradient(to left, #ccc 0%, #ccc 20%, #fff 20%, #fff 40%, #ccc 40%, #ccc 60%, #fff 60%, #fff 80%, #ccc 80%);
  animation: border-dance 0.5s infinite linear;
}

@keyframes rotateWheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes border-dance {
  0% {
    left: 40px;
  }
  100% {
    left: 0px;
  }
}
.position_fixed {
  position: fixed;
  z-index: -1;
}

.opacity {
  opacity: 0.7;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.sect1_1 {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.sect1_1 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.sect1_1 .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.sect1_1 .inner .tab_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.sect1_1 .inner .tab_btns .tab_btn {
  cursor: pointer;
  font-size: 18px;
  color: #BDBBBB;
  transition: filter 0.3s ease-in-out;
}
.sect1_1 .inner .tab_btns .tab_btn:hover {
  filter: invert(100);
}
.sect1_1 .inner .tab_btns .tab_btn.active {
  font-weight: bold;
  filter: invert(100);
}
.sect1_1 .inner .screen_wrap {
  width: 100%;
  height: auto;
}
.sect1_1 .inner .screen_wrap .screen {
  display: none;
}
.sect1_1 .inner .screen_wrap .screen.active {
  display: block;
}
.sect1_1 .inner .screen_wrap .screen .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  margin-top: 36px;
}
.sect1_1 .inner .screen_wrap .screen .products .product {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
}
.sect1_1 .inner .screen_wrap .screen .products .product:nth-of-type(1n) {
  transition: 0.3s ease-in-out;
}
.sect1_1 .inner .screen_wrap .screen .products .product:nth-of-type(1n):hover {
  margin: 48px 0px 0px 0px;
}
.sect1_1 .inner .screen_wrap .screen .products .product:nth-of-type(2n) {
  margin: 48px 0px 0px 0px;
  transition: 0.3s ease-in-out;
}
.sect1_1 .inner .screen_wrap .screen .products .product:nth-of-type(2n):hover {
  margin-top: 0px;
}
.sect1_1 .inner .screen_wrap .screen .products .product:hover .i_w .hidden {
  opacity: 1;
}
.sect1_1 .inner .screen_wrap .screen .products .product .i_w {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 331px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.sect1_1 .inner .screen_wrap .screen .products .product .i_w img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.sect1_1 .inner .screen_wrap .screen .products .product .i_w .hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sect1_1 .inner .screen_wrap .screen .products .product article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 331px);
  font-size: 12px;
}
.sect1_1 .inner .screen_wrap .screen .products .product article b {
  font-size: 14px;
}
.sect1_1 .inner .screen_wrap .screen .products .product article span {
  color: #BDBBBB;
  text-decoration: line-through;
}
video {
  width: 100%;
}