body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.sect2 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.sect2 .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.sect3 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.sect3 .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.sect3 .inner .banner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.sect3 .inner .banner1 .hidden {
  position: relative;
  transition: filter 0.3s ease-in-out;
}
.sect3 .inner .banner1 .hidden:hover img {
  filter: blur(2px);
}
.sect3 .inner .banner1 .hidden:hover .btn3 {
  opacity: 1;
}
.sect3 .inner .banner1 .hidden .btn3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sect3 .inner .banner1 .border_r {
  border-radius: 9px;
}
.sect3 .inner .banner1 .shadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.sect3 .inner .banner1 .img_style {
  overflow: hidden;
}
.sect3 .inner .banner1 .img_style:hover img {
  transform: scale(1.05);
}
.sect3 .inner .banner1 .img_style img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.sect3 .inner .banner1 .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  width: 911px;
}
.sect3 .inner .banner1 .left .tob_box {
  width: 100%;
  height: 400px;
}
.sect3 .inner .banner1 .left .bottom_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sect3 .inner .banner1 .left .bottom_box .b_b1 {
  width: 675px;
  height: 400px;
}
.sect3 .inner .banner1 .left .bottom_box .b_b2 {
  width: 220px;
  height: 400px;
}
.sect3 .inner .banner1 .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  width: 456px;
}
.sect3 .inner .banner1 .right .tob_box {
  width: 456px;
  height: 630px;
}
.sect3 .inner .banner1 .right .bottom_box {
  width: 456px;
  height: 170px;
}

.sect4 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.sect4 .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.sect4 .inner .tab_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.sect4 .inner .tab_btns .tab_btn {
  cursor: pointer;
  font-size: 18px;
  color: #BDBBBB;
  transition: filter 0.3s ease-in-out;
}
.sect4 .inner .tab_btns .tab_btn:hover {
  filter: invert(100);
}
.sect4 .inner .tab_btns .tab_btn.active {
  font-weight: bold;
  filter: invert(100);
}
.sect4 .inner .screen_wrap {
  width: 100%;
  height: auto;
}
.sect4 .inner .screen_wrap .screen {
  display: none;
}
.sect4 .inner .screen_wrap .screen.active {
  display: block;
}
.sect4 .inner .screen_wrap .screen .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
.sect4 .inner .screen_wrap .screen .products .product {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
}
.sect4 .inner .screen_wrap .screen .products .product:nth-of-type(1n) {
  transition: 0.3s ease-in-out;
}
.sect4 .inner .screen_wrap .screen .products .product:nth-of-type(1n):hover {
  margin: 48px 0px 0px 0px;
}
.sect4 .inner .screen_wrap .screen .products .product:nth-of-type(2n) {
  margin: 48px 0px 0px 0px;
  transition: 0.3s ease-in-out;
}
.sect4 .inner .screen_wrap .screen .products .product:nth-of-type(2n):hover {
  margin-top: 0px;
}
.sect4 .inner .screen_wrap .screen .products .product:hover .i_w .hidden {
  opacity: 1;
}
.sect4 .inner .screen_wrap .screen .products .product .i_w {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 331px;
  background-color: rgba(0, 0, 0, 0.3);
}
.sect4 .inner .screen_wrap .screen .products .product .i_w img {
  width: 100%;
  height: 100%;
}
.sect4 .inner .screen_wrap .screen .products .product .i_w .hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sect4 .inner .screen_wrap .screen .products .product article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 331px);
  font-size: 12px;
}
.sect4 .inner .screen_wrap .screen .products .product article b {
  font-size: 14px;
}
.sect4 .inner .screen_wrap .screen .products .product article span {
  color: #BDBBBB;
  text-decoration: line-through;
}
.sect5 {
  background: url(../../imgs/sect5/jimny.png) no-repeat center/cover;
  background-attachment: fixed;
}
.sect5 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect5 .inner a {
  transition: 0.3s ease-in-out;
}
.sect5 .inner a:hover {
  opacity: 0.8;
  color: #FFFFFF;
}
.sect5 .inner a .barcode {
  font-family: "Libre Barcode 39 Extended Text", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #fafafa;
}

.sect6 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.sect6 .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.sect6 .inner .products_wrap {
  width: 100%;
}
.sect6 .inner .products_wrap .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
.sect6 .inner .products_wrap .products .product {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
}
.sect6 .inner .products_wrap .products .product:nth-of-type(1n) {
  transition: 0.3s ease-in-out;
}
.sect6 .inner .products_wrap .products .product:nth-of-type(1n):hover {
  margin: 48px 0px 0px 0px;
}
.sect6 .inner .products_wrap .products .product:nth-of-type(2n) {
  margin: 48px 0px 0px 0px;
  transition: 0.3s ease-in-out;
}
.sect6 .inner .products_wrap .products .product:nth-of-type(2n):hover {
  margin-top: 0px;
}
.sect6 .inner .products_wrap .products .product:hover .i_w .hidden {
  opacity: 1;
}
.sect6 .inner .products_wrap .products .product .i_w {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 331px;
  background-color: rgba(0, 0, 0, 0.3);
}
.sect6 .inner .products_wrap .products .product .i_w img {
  width: 100%;
  height: 100%;
}
.sect6 .inner .products_wrap .products .product .i_w .hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sect6 .inner .products_wrap .products .product article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 331px);
  font-size: 12px;
}
.sect6 .inner .products_wrap .products .product article b {
  font-size: 14px;
}
.sect6 .inner .products_wrap .products .product article span {
  color: #BDBBBB;
  text-decoration: line-through;
}
.sect7 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.sect7 .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.sect8 .inner .banner_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sect8 .inner .banner_box .banner_text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  padding: 152px;
  background-color: #F5F5F5;
}
.sect8 .inner .banner_box .banner_text h2 {
  font-size: 40px;
}
.sect8 .inner .banner_box .banner_text p {
  font-size: 18px;
}
.sect8 .inner .banner_box .banner_text .p1 {
  color: #ACACAC;
}
.sect8 .inner .banner_box .i_w {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 588px;
  overflow: hidden;
}
.sect8 .inner .banner_box .i_w:hover img {
  transform: scale(1.05);
}
.sect8 .inner .banner_box .i_w img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}

.sect9 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.sect9 .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.sect9 .inner .products_wrap {
  width: 100%;
}
.sect9 .inner .products_wrap .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
.sect9 .inner .products_wrap .products .product {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
}
.sect9 .inner .products_wrap .products .product:nth-of-type(1n) {
  transition: 0.3s ease-in-out;
}
.sect9 .inner .products_wrap .products .product:nth-of-type(1n):hover {
  margin: 48px 0px 0px 0px;
}
.sect9 .inner .products_wrap .products .product:nth-of-type(2n) {
  margin: 48px 0px 0px 0px;
  transition: 0.3s ease-in-out;
}
.sect9 .inner .products_wrap .products .product:nth-of-type(2n):hover {
  margin-top: 0px;
}
.sect9 .inner .products_wrap .products .product:hover .i_w .hidden {
  opacity: 1;
}
.sect9 .inner .products_wrap .products .product .i_w {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 331px;
  background-color: rgba(0, 0, 0, 0.3);
}
.sect9 .inner .products_wrap .products .product .i_w img {
  width: 100%;
  height: 100%;
}
.sect9 .inner .products_wrap .products .product .i_w .hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sect9 .inner .products_wrap .products .product article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 331px);
  font-size: 12px;
}
.sect9 .inner .products_wrap .products .product article b {
  font-size: 14px;
}
.sect9 .inner .products_wrap .products .product article span {
  color: #BDBBBB;
  text-decoration: line-through;
}