.input-container {
  position: relative;
  width: 100%;
  max-width: 270px;
}
.input-container::after {
  content: "|";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  animation: blink 0.7s step-end infinite;
}
.input-container .input {
  width: 100%;
  height: 36px;
  padding: 12px;
  font-size: 18px;
  font-family: "Courier New", monospace;
  color: #000;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 0;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 0 #000;
}
.input-container .input::-moz-placeholder {
  color: #888;
}
.input-container .input::placeholder {
  color: #888;
}
.input-container .input:hover {
  transform: translate(-4px, -4px);
  box-shadow: 12px 12px 0 #000;
}
.input-container .input:focus {
  background-color: #010101;
  color: #fff;
  border-color: #d6d9dd;
  animation: shake 0.5s ease-in-out;
}
.input-container .input:focus::-moz-placeholder {
  color: #fff;
}
.input-container .input:focus::placeholder {
  color: #fff;
}
.input-container .input:valid {
  animation: typing 2s steps(30, end);
}
.input-container .input:not(:-moz-placeholder-shown) {
  animation: glitch 1s linear infinite;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 0px 0 #000;
}
.input-container .input:not(:placeholder-shown) {
  animation: glitch 1s linear infinite;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 0px 0 #000;
}
.input:focus + .input-container::after {
  color: #fff;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
/* From Uiverse.io by benjimich */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.container .input {
  max-width: 190px;
  height: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #000000;
  caret-color: #f7f7f8;
  color: #fff;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all 0.2s ease;
}
.container .input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}
.container .input:focus {
  border: 2px solid #a970ff;
  background-color: #0e0e10;
}
.container .search__btn {
  border: none;
  cursor: pointer;
  background-color: rgb(42, 42, 45);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .search__btn:hover {
  background-color: rgb(54, 54, 56);
}